body{
		margin: 0;
		padding: 0;
}
.tab{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-250px;
	margin-left: -500px;
	width: 1000px;
	height: 500px;
	background-color:#ddd;
	
}
.tab-header{
	height: 60px;
	background-color: #aaa;	
		
}
.tab-title{
	display: inline-block;
	height: 60px;
	background-color: #666;
	line-height: 60px;
	padding:0 50px;
}
.tab-title.active{
	background-color: #333;
}
.tab-content{
	position: absolute;
	display: none;
}
.tab-content.active{
	display: block;
}